<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<import resource="" />
	
	<bean id="student" class="com.hsbc.model.Student" scope="prototype">
		<property name="studentId" value="1"></property>
		<property name="studentName" value="Test"></property>
		<property name="studentScore" value="40"></property>
		<property name="dept" ref="dept"></property>
	</bean>
	<bean id="dept" class="com.hsbc.model.Department" scope="prototype">
		<property name="deptId" value="1"></property>
		<property name="deptName" value="Test"></property>
	</bean>
</beans>